<!DOCTYPE html>
<html>
  <head>
    <title>08 ngFilter</title>
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap.css">
  </head>
  <body>
    <div ng-app="myApp">
      <div ng-controller="ListFriendCtrl">
        name Filter: <input type="text" ng-model="search.name">
        age Filter: <input type="text" ng-model="search.age">
        mixed Filter: <input type="text" ng-model="search.$">
        <table class="table table-bordered">
          <thead>
            <th>Name</th>
            <th>Age</th>
          </thead>
          <tbody>
            <tr ng-repeat="f in friends|filter:search">
              <td>{{f.name}}</td>
              <td>{{f.age}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <script type="text/javascript" src="vendor/angular.js"></script>
    <script type="text/javascript" src="script/main.js"></script>
  </body>
</html>